name: Prebuild
on: [push]
jobs:
  build-test-macos:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm install
      - run: npm test
      - run: npm run prebuild-libc
        if: startsWith(github.ref, 'refs/tags/')
      - run: npm run prebuild-libc
        if: startsWith(github.ref, 'refs/tags/')
        env:
          PREBUILD_ARCH: arm64
      - run: tar --create --format ustar --verbose --file=prebuild-darwin.tar -C prebuilds .
        if: startsWith(github.ref, 'refs/tags/')
      - name: Prebuild
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: prebuild-darwin.tar
  build-test-win32:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install
      - run: npm run prebuild-win32
      - run: tar --create --verbose --file=prebuild-win32.tar -C prebuilds .
        #if: startsWith(github.ref, 'refs/tags/')
      - name: Prebuild
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: prebuild-win32.tar
  build-centos-7:
    runs-on: ubuntu-18.04
    container: quay.io/pypa/manylinux2014_x86_64
    steps:
      #- run: ldd --version ldd
      #- uses: actions/checkout@v2
      #  with:
      #    repository: 'kriszyp/musl-bins'
      #- run: tar -xf aarch64-linux-musl-cross.tgz && pwd && ls
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: curl https://raw.githubusercontent.com/kriszyp/musl-bins/main/aarch64-linux-musl-cross.tgz --output aarch64-linux-musl-cross.tgz
      - run: tar -xf aarch64-linux-musl-cross.tgz && pwd && ls
      - run: curl https://raw.githubusercontent.com/kriszyp/musl-bins/main/armv7l-linux-musleabihf-cross.tgz --output armv7l-linux-musleabihf-cross.tgz
      - run: tar -xf armv7l-linux-musleabihf-cross.tgz && pwd && ls
      - run: curl https://raw.githubusercontent.com/kriszyp/musl-bins/main/x86_64-linux-musl-native.tgz --output x86_64-linux-musl-native.tgz
      - run: tar -xf x86_64-linux-musl-native.tgz && pwd && ls      
      - run: npm install
      - run: npm run prebuild-libc
        if: startsWith(github.ref, 'refs/tags/')
        env:
          PREBUILD_LIBC: musl
          PREBUILD_ARCH: arm64
          CC: ${PWD}/aarch64-linux-musl-cross/bin/aarch64-linux-musl-gcc
          CXX: ${PWD}/aarch64-linux-musl-cross/bin/aarch64-linux-musl-g++
      - run: npm run prebuild-libc
        if: startsWith(github.ref, 'refs/tags/')
        env:
          PREBUILD_LIBC: musl
          PREBUILD_ARCH: arm
          PREBUILD_ARMV: 7
          CC: ${PWD}/armv7l-linux-musleabihf-cross/bin/armv7l-linux-musleabihf-gcc
          CXX: ${PWD}/armv7l-linux-musleabihf-cross/bin/armv7l-linux-musleabihf-g++
      - run: npm run prebuild-libc
        if: startsWith(github.ref, 'refs/tags/')
        env:
          PREBUILD_LIBC: musl
          PREBUILD_ARCH: x64
          CC: ${PWD}/x86_64-linux-musl-native/bin/x86_64-linux-musl-gcc
          CXX: ${PWD}/x86_64-linux-musl-native/bin/x86_64-linux-musl-g++
      - run: npm run prebuild-libc
      - run: npm test
      - run: tar --create --verbose --file=prebuild-linux.tar -C prebuilds .
      - name: Prebuild
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: prebuild-linux.tar
